SUPABASE_URL=https://YOUR_PROJECT.supabase.co
SUPABASE_IDE_CLI_ACCESS_TOKEN=
OPENWEATHER_API_KEY=
HF_API_KEY=
OPENROUTER_API_KEY=
GOOGLE_GEMINI_KEY=
GEMINI_MODEL=gemini-2.5-flash
GROQ_API_KEY=
PINECONE_API_KEY=
PINECONE_HOST=
PINECONE_INDEX_NAME=
SUPABASE_SERVICE_ROLE_KEY=
